.Chat-main
  .Chat-main__group-info
    .main-items
      .main-items__name
        test
      %ul.main-items__member-list 
        Member : 
        %li.main-items__member-name
          masa
    = link_to "Edit",'#',class:"main-items__edit"
  .Chat-main__message-list
    .message-space
      .message-info
        .message-info__name
          masa
        .message-info__date
          2019/11/20(Wed) 17:43:01
      .message
        .message__content
          おはよう
    .message-space
      .message-info
        .message-info__name
          masa
        .message-info__date
          2019/11/20(Wed) 17:43:34
      .message
        .message__content
          今日は夜から雨
  .Chat-main__message-form
    %form.form
      %input.hidden{type: "hidden"}
      .left-form
        %input.left-form__content{placeholder: "type a message",type: "text"}
        %label.left-form__icon
          = icon('far', 'image',class: "left-form__icon__btn")
          %input.left-form__icon__file{type: "file" }
      %input.submit{value: "Send", type: "submit"}
