.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        masa
      = link_to "#",class:"top-items__icons" do
        = icon('far','far fa-edit',class: "top-items__icons--btn")
        = icon('fas','fas fa-cog',class: "top-items__icons--btn")
  .Side-bar__group-list